/*
Colors used:
Primary color (tan): #F5F4EC
Title (brown): #AF8F5E
Header (black gray): #33312F
*/

* {
    box-sizing: border-box;
  }

  header {
    text-align: center;
    background-color: #ffe4c4;
    padding: 10px 0;
    position: fixed;
    width: 100%;
  }

  .css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #AF8F5E; 
	border: solid #AF8F5E 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
  body {
    background-color: #F5F4EC;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}

p {
    color: #33312f;
}

h2 {
    color: #33312f;
    font-size: 1.73em;
    font-weight: 500;
}

h3 {
    color: #AF8F5E;
    font-size: 1.44 em;
    font-weight: 500; 
}

img {
    width: 100%;
  }

  a {
    color: #AF8F5E;
    text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus {
    color: #33312f;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #000000;
  }
  a:active { /* selected link */
    color: #000000;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #AF8F5E;
    color: #F5F4EC; /* needed to override the default link color */
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #33312f; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    font-weight: bold;
    text-decoration: none;
  }
  
  .button:active {
    color: #000000;
  }

  .button.contact {
    background-color: transparent;
    color: #AF8F5E;
    text-transform: uppercase;
    border: 2px solid #AF8F5E;
  }

  .button.contact:hover {
    background-color: #AF8F5E;
    color: #FFFFFF;
  }

  .button.contact:active {
    color: #000000;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
    max-width: 1920px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  #work .row { 
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
 }

  #hero h1 {
    text-align: center; /* Centers text */
  }

  .logo {
    max-width: 250px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  nav {
    display: block;
    width: 100%;
  }

  #hero {
    background-color: #F5F4EC;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  main {
    padding-top: 250px;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
} 

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}